# EditorConfig is awesome: https://editorconfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = single

# Makefile must utilize tabs
[Makefile]
indent_style = tab

# Web technologies & Configs often use 2 spaces
[*.{json,yaml,yml,js,ts,jsx,tsx,html,css,scss,less}]
indent_style = space
indent_size = 2

# Markdown - do not trim trailing whitespace (needed for line breaks)
[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = off

# Bat files for Windows
[*.{bat,cmd,ps1}]
end_of_line = crlf
